/*p {
  font-family: sans-serif;
  color: red;
}
li {
  background-color: greenyellow;
  border: 1px solid black;
  margin-bottom: 5px;
}*/

html {
  font-size: 10px; /* Base pour les calculs en rem */
  font-family: "Playfair Display", serif;
  background-color: #00539f;
}

body {
  font-family: sans-serif; /* Écrase Playfair pour le corps du texte */
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}

h2 {
  font-style: italic;
  font-size: 1.5rem;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

p {
  margin-bottom: 0; /* Réduit l'espace sous "Instructions de la vie" */
}

ul {
  margin-top: 0; /* Colle la liste au texte juste au-dessus */
  /* Gardez vos autres propriétés (border, padding...) ici */
}

.fini {
  color: rgb(255, 0, 0);
  text-decoration: line-through solid rgb(255, 0, 0) 2px;
}

.notebox {
  border: 4px solid #666666;
  padding: 0.5em;
  margin: 0.5em;
}

.notebox.warning {
  border-color: orange;
  font-weight: bold;
}

.notebox.danger {
  border-color: red;
  font-weight: bold;
}

article p:first-child {
  font-size: 2.4rem;
  font-weight: bold;
}

li.a {
  font-size: 200%;
}

li[class="a"] {
  background-color: yellow;
}

li[class~="a"] {
  color: red;
}

a:link,
a:visited {
  color: rebeccapurple;
  font-weight: bold;
}

a:hover {
  color: hotpink;
}
